h2 {
  text-align: center;
  margin-top: 50px;
}

div.container2 {
    height: 400px;
    width: 500px;
    background-color: gray;
    position: relative;
    left: calc(45vw - 200px);
    top: calc(50vh - 200px);
  }    
  
   div#primeira-div {
    
     background-color: black;
     border-radius: 20px;
     padding: 10px;
     position: absolute;
     top: 25px;
     left: 40px;
     height: 150px;
     max-width: 400px;
     
   }
  
   p#texto1 {
     color: white;
     text-transform: uppercase;
     font-family: sans-serif;
     text-align: end;
     margin: 10px;
   }
  
   div#segunda-div {
    
     background-color: black;
     padding: 10px;
     overflow: auto;
     border:2px solid red;
     position: absolute;
     top: 220px;
     left: 40px;
     height: 150px;
     max-width: 400px;
   }
  
   p#texto2 {
     color: white;
     text-transform: lowercase;
     font-family: sans-serif; 
     margin: 20px;
  
    }